h1, hr, body{
  margin: 0;
  padding: 0;
}
.top{
  height: 10vh;
}
.rest{
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.game-body{
  border: 2px solid black;
}
.row{
  display: flex;
}
.col{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}


#msg{
  position: absolute;
  top: 200px;
  left: 70px;
}
.button_standart{
  margin-top: 15px;
}
.topic{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #333;
  box-shadow: 0px 1px 20px #333;
}
.game-body{
  box-shadow: 12px 12px 34px #333;
}
